@import url(header.css);
@import url(footer.css);
@import url(logReg.css);
@import url(main_home.css);

:root{
    --amarillo: #EAC926;
    --azul: #03264C;
    --azul_medio:#0022AA;
    --celeste: #1259c3;
    --grisOscuro: #666;
    --grisClaro: #ebebeb;
    --verde: #39b54a;
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    background-color: var(--grisClaro);
    width: 100%;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    
}
/* UI KIT */

.headlines{
    padding-top: 10px;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 400;
    text-align: center;
}
.price{
    font-size: 18px;
    font-weight: 400;
}
.discount{
    font-size: 14px;
    font-weight: 300;
    color: var(--verde);
}
.descriptions{
    visibility: hidden;
    font-size: 16px;
    font-weight: 300;
}


